services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      
      - ./jenkins/casc.yaml:/var/jenkins_home/casc.yaml
      - ./jenkins/seed-job.groovy:/var/jenkins_home/seed-job.groovy
      - ./jenkins/plugins.txt:/usr/share/jenkins/ref/plugins.txt
    environment:
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc.yaml
    restart: unless-stopped

volumes:
  jenkins_home:
